
.form-group {
  display: flex;
  align-items: center;
  width: 100%;
}

label {
  width: 25px;
  text-align: center;
  margin: 0px;
}

.btns {
  margin-left: 25px;
}

#output {
  margin: 1rem auto;
}

.alert-mib {
  background-color: $light-gray;
  color: $dark-gray;
  border: solid 3px black;
  border-radius: 20px;
  font-size: 20px;
  padding: 1.5rem 1rem;
  text-align: center;
}

#googleMap {
  height: 50vh;
}

