.mib-home {
  height: 90vh;
  padding: 40px 15px;
}
.title {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.title > p {
  font-size: 18px;
  max-width: 500px;
}
.title > a {
  border: solid 2px #000000;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 40px 0px;
  text-decoration: none;
  font-weight: bold;
}
.title > a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}

.mib-brand > h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 40px;
  margin-bottom: 0px !important;
}

.mib-brand > h2 {
  font-size: 24px;
}


// SECTION SERVICES

#services {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 50px 0px;
  background-color: #161623;
}

#services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  clip-path: circle(30% at right 70%);
}

#services::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  clip-path: circle(20% at 5% 10%);
}

.title-section h2 {
  font-weight: bold;
  text-align: center;
  z-index: 2;
  color: white;
}

.cards-container {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  z-index: 1;
}

.cards-container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.cards-container .card .content {
  padding: 20px;
  text-align: center;
  opacity: 1;
}

// .cards-container .card .content h2{
//   position: absolute;
//   top: -80px;
//   right: 30px;
//   font-size: 8em;
//   color: rgba(255, 255, 255, 0.05);
//   pointer-events: none;
// }
.cards-container .card .content img {
  height: 50px;
}

.cards-container .card .content h3 {
  font-size: 1.5em;
  font-weight: 700;
  padding: 20px 0;
  color: #FFFFFF;
  z-index: 1;
}

.cards-container .card .content p {
  font-size: 1em;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.cards-container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background-color: #FFFFFF;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

// SECTION VEHICULE

.mib-vehicule {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 80px 0px;
}

.vehicule-description > p {
  max-width: 500px;
  text-align: center;
  padding: 30px 15px;
}


@media(max-width: 568px) {
  .mib-vehicule > img {
    width: 360px;
  }
}


// SECTION CONTACT
.mib-contact {
  background-color: black;
  color: white;
  padding: 50px 0px 80px 0px;
}
