.mib-home {
  height: 100vh;
  padding: 100px 15px 80px 15px;
  background-image: linear-gradient(-225deg, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.6) 20%), image-url('vtc.jpg');
  background-size: cover;
}

.title {
  padding-top: 60px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mib-brand > h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 40px;
  margin-bottom: 0px !important;
}

.mib-brand > h2 {
  font-size: 24px;
}

.title > img {
  margin: 30px 0px;
}

.title > p {
  font-size: 18px;
  max-width: 500px;
}
.title .btn-phone,
.title .home-buttons a {
  border: solid 2px #000000;
  border-radius: 10px;
  background-color: black;
  color: white;
  padding: 10px 20px;
  margin: 40px 10px;
  text-decoration: none;
  font-weight: bold;
}
.title .home-buttons a:hover {
  text-decoration: none;
  background-color: white;
  color: black;
}
.title .home-buttons {
  display: flex;
}
i.fa-phone-alt {
  color: white !important;
  margin-right: 15px;
}
// SECTION CHAUFFEUR

.mib-driver {
  padding: 80px 0px;
  background: white;
  color: #161623;
}

.title-driver h2 {
  text-align: center;
  font-weight: bold;
  padding: 30px 0px 30px 0px;
}

.subtitle-driver h4 {
  text-align: center;
  font-size: 18px;
  color: #889195;
  max-width: 900px;
  margin: auto;
  padding: 0px 0px 50px 15px;
}

.driver-policies {
  max-width: 900px;
  margin: auto;
}

.policy-name {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.policy-name p {
  margin-bottom: 0px !important;
}

.policy-icon {
  background-color: #cbcfd1;
  border-radius: 100%;
  height: 60px;
  width: 60px !important;
  color: black;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
i.fa-user-tie,
i.fa-euro-sign,
i.fa-credit-card {
  width: 60px !important;
  display: flex;
  justify-content: center;
}

// SECTION SERVICES

#prestations {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 80px 0px;
  background-color: #161623;
}

#prestations::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
  clip-path: circle(25% at right 70%);
}

#prestations::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  clip-path: circle(20% at 0% 40%);
}

.title-section h2 {
  font-weight: bold;
  text-align: center;
  z-index: 2;
  color: white;
  padding: 30px 0px 30px 0px;
}

.subtitle-section h4 {
  font-size: 18px;
  text-align: center;
  z-index: 2;
  color: #889195;
  max-width: 900px;
  margin: auto;
  padding-bottom: 50px;
}

.cards-container {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  z-index: 1;
}

.cards-container .card {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.cards-container .card .content {
  padding: 20px;
  text-align: center;
  opacity: 1;
}

// .cards-container .card .content h2{
//   position: absolute;
//   top: -80px;
//   right: 30px;
//   font-size: 8em;
//   color: rgba(255, 255, 255, 0.05);
//   pointer-events: none;
// }
.cards-container .card .content img {
  height: 50px;
}

.cards-container .card .content h3 {
  font-size: 1.5em;
  font-weight: 700;
  padding: 20px 0;
  color: #FFFFFF;
  z-index: 1;
}

.cards-container .card .content p {
  font-size: 1em;
  color: #FFFFFF;
  margin-bottom: 35px;
}

.cards-container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background-color: #FFFFFF;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

// SECTION VEHICULE

.mib-vehicule {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0px 80px 0px;
  position: relative;
}

#title-vehicule {
  color: #161623;
}

.vehicule-description > p {
  max-width: 500px;
  text-align: center;
  padding: 30px 15px;
}

@media(max-width: 568px) {
  .mib-vehicule > img {
    width: 360px;
  }
}



// SECTION CONTACT
.mib-contact {
  min-height: 100vh;
  background-color: black;
  color: #B89968;
  padding: 50px 0px 80px 0px;
}

.contact-infos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 25px;
}

.info-details p {
  color: #F9F9F9;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #B89968;
  text-align: center;
  margin-bottom: 20px;
}

.far,
.fas {
  color: #161623;
}

.form-wrapper {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 30px 15px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input, textarea {
  background-color: black;
  border-radius: 5px;
  border: solid 1px #393939 !important;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 8px;
  color: $light-gray;
  outline-color: #B89968 !important;
}
input {
  height: 55px;
}
textarea {
  height: 96px;
}
.btn-contact {
  color: #FFFFFF !important;
  padding: 10px 25px !important;
  margin: 25px 0px !important;
  background-color: #B89968 !important;
  border: 3px solid #B89968 !important;
  border-radius: 5px !important;
  width: 100% !important;
  font-weight: bold;
}
.btn-contact:hover {
  border: 3px solid #B89968 !important;
  background-color: transparent !important;
  color: #B89968 !important;
}

/*******************************
         MEDIA PHONES
*******************************/


@media screen and (max-width: 576px){
  .form-wrapper {
    width: 100%;
  }

}

