<div class="container container-legales">
  <div class="legales-section">
    <div class="legales-title text-center">
      <h2>CONDITIONS GENERALES DE VENTE</h2>
    </div>
    <div class="legales-content text-justify">
      <h3>PRESENTATION DE Men In Black Suit</h3>
      <p>
        La société Men In Black Suit fournit un service de transport de personnes et de biens et met à disposition de ses clients des véhicules avec chauffeur. Elle est immatriculée au registre des exploitants de voitures de tourisme avec chauffeur sous le numéro EVTC001210021  et soumise aux dispositions des articles L 231- 1 à L231-4 du Code du tourisme et au décret n°85-891 du 16 août 1985. <br>
        Toute réservation faite par téléphone, via notre site web, e-mail implique l’adhésion sans réserve à l’ensemble de nos conditions générales.
      </p>
      <h3>PRÉAMBULE</h3>
      <p>
        Le transport de personnes à titre payant est une activité réglementée. <br>
        Seuls les véhicules autorisés, Capacitaire, VTC et Taxis, peuvent effectuer ce service. Toute commande effectuée entraîne l’acceptation des conditions générales de vente (CGV) ci-après. <br>
        La société Men In Black Suit s’engage à les respecter dans leur intégralité et à mettre tout en œuvre pour garantir un service irréprochable à ses clients.
      </p>
      <h3>NOS TARIFS</h3>
      <p>
        Nos prix sont calculés en fonction des conditions économiques. <br>
        Tout devis préalablement établi et en votre possession sera valable uniquement s’il ne dépasse pas 30 jours à compter de sa date d’émission. Le tarif s’applique au déplacement direct sans arrêt depuis le point de prise en charge et ce jusqu’au point d’arrivée, les tarifs s’entendent TTC (TVA 10%) sauf pour les mises à disposition (TVA 20%) et sont toujours mentionnés en euros, et incluent l’acheminement du ou des clients, le véhicule, le carburant, le chauffeur, l’assurance pour les personnes transportées. <br>
        Les tarifs incluent une attente de 15 minutes gratuitement. Exception faite pour l’attente en aéroport, pour laquelle les tarifs incluent une attente de 1 heure pour 12€ et pour l’attentes en gare ferroviaire, pour laquelle les tarifs incluent une attente de 30 minutes pour 5 euros. <br>
        Les frais d’attente s’élèvent à 2 € TTC par minute et seront à payer en supplément auprès du chauffeur.
      </p>
      <h3>HORAIRES ET ITINÉRAIRES</h3>
      <p>
        Les horaires sont définis en fonction de conditions normales de circulation et de déroulement de transport. Le client est conscient que des aléas peuvent se produire. <br>
        La définition d’une marge de sécurité permettra d’absorber ces aléas, sachant que si elle est dépassée, cela risque de bouleverser l’organisation du voyage qui doit toujours garantir le respect de la réglementation des temps de conduite et de repos du conducteur. <br>
        Le choix de l’itinéraire, sauf exigence particulière du client, doit être laissée au transporteur, à charge pour lui d’en informer le donneur d’ordre avant le début de la prestation. <br>
        Les délais d’exécution sont renseignés à titre indicatif et approximatif sauf engagement formel de la société Men In Black Suit.
      </p>
      <h3>RÉSERVATION</h3>
      <p>
        Toute prestation doit faire l’objet d’une réservation en contactant la société  par téléphone, par e-mail ou directement sur le site. <br>
        La réservation doit être effectuée au plus tôt 30 jours et au plus tard 30 minutes avant le début de la dite prestation et sera effective que si et seulement si le chauffeur peut honorer celle-ci suivant son emplacement géographique, la réservation doit être effectuée par le client ou par un mandataire dûment autorisé, toute réservation doit mentionner obligatoirement: <br>
      <ul>
        <li>Nom ou dénomination sociale de la société</li>
        <li>Nom et coordonnées téléphoniques du client</li>
        <li>Date, heure et lieu de la prise en charge du client</li>
      </ul>
      </p>
      <h3>RÉSERVATION AU DÉPART D’UN AÉROPORT OU D’UNE GARE</h3>
      <p>
        Lors de la réservation, le client doit préciser l’aéroport / la gare, la date de la course, et le numéro de vol / de train. <br>
        L’heure prévue d’atterrissage / de départ ainsi que le terminal d’arrivée, susceptibles d’être modifiés par les conditions de vol et l’administration aéroportuaire, peuvent être renseignés mais ne sont pas contractuels. <br>
        La responsabilité de la société  ne peut être engagée Men In Black Suit en cas d’informations erronées indiquées par le Client (numéro de vol / de train incomplet, erreur de date), ni en cas d’informations erronées relatives au vol de référence pour la course, transmises par le Service Info de l’aéroport concerné.
      </p>
      <h3>ANNULATION</h3>
      <p>
        Toute annulation devra nous parvenir au plus tard 2 heures avant la dite prestation, il est de votre devoir de prévenir la société Men In Black Suit  en cas de problème quelconque le plus rapidement possible.
      </p>
      <h3>RESPONSABILITÉ</h3>
      <p>
        Tout dommage causé par le client à l’intérieur ou à l’extérieur du véhicule sera à sa charge (ouverture de portière), à moins qu’il ne soit démontré qu’il provienne du fait d’une tierce personne. Il est strictement interdit de fumer à bord du véhicule. <br>
        Les voyageurs doivent s’abstenir de souiller ou de détériorer le matériel. Toute dégradation autre que l’usure normale subie par le véhicule en raison du comportement des voyageurs leur sera facturée. Le port de la ceinture de sécurité est obligatoire à l’avant comme à l’arrière, le client contrevenant s’expose à une amende restant à sa charge. En aucun cas, le client ne pourra exiger que le chauffeur dépasse la limitation de vitesse autorisée ou encore de lui demander de commettre des infractions au code de la route, le chauffeur se doit de respecter et de faire respecter les lois en vigueur. <br>
        La société se réserve le droit d’interrompre la prestation en cours si le client commet une infraction. Exemples:
        <ul>
          <li>usage de stupéfiant</li>
          <li>prise d’alcool</li>
          <li>parole déplacée vis-à-vis du chauffeur ou d’une personne se trouvant à l’intérieur ou à l’extérieur du véhicule</li>
          <li>mise en danger de la sécurité du chauffeur ou de celle d’autrui</li>
        </ul>
        Le client est tenu d’être présent au moment et endroit prévu. Tout manquement entraînera l’annulation de la commande 30 minutes après l’heure prévu sans remboursement.
      </p>

      <h3>DURÉE ET LIEU D’EXÉCUTION DE LA PRESTATION</h3>
      <p>
        Les horaires sont définis en fonction de conditions normales de circulation et de déroulement de transport. Le client est conscient que des aléas peuvent se produire. <br>
        La définition d’une marge de sécurité permettra d’absorber ces aléas, sachant que si elle est dépassée, cela risque de bouleverser l’organisation du voyage qui doit toujours garantir le respect de la réglementation des temps de conduite et de repos du conducteur. <br>
        Le choix de l’itinéraire, sauf exigence particulière du client, doit être laissée au transporteur, à charge pour lui d’en informer le donneur d’ordre avant le début de la prestation. <br>
        Les délais d’exécution sont renseignés à titre indicatif et approximatif sauf engagement formel de Men In Black Suit. <br>
        La prestation débute au jour et à l’heure fixé entre le client et la société Men In Black Suit et au départ du lieu donné par le client et se termine une fois la destination atteinte.
      </p>
      <h3>MODIFICATION EN COURS DE SERVICE</h3>
      <p>
        Toute modification par le client en cours de prestation entraînera obligatoirement un supplément si et seulement si la distance prévue initialement venait à s’allonger.
      </p>
      <h3>RÈGLEMENT</h3>
      <p>
        Nos prestations sont payables à la fin de la  réservation  sauf pour les clients «pro». Pour les entreprises et collectivités qui auront précisées lors de la réservation leurs coordonnées pour facturation, le paiement se fera par virement bancaire dans les 30 jours, à partir de la date de facture. <br>
        Les modes de règlements acceptés sont soit en espèces ou Carte Bancaire. Le client se verra remettre obligatoirement une facture pour tout paiement supérieur ou égal à 25€ et en dessous de ce montant sur demande uniquement. En cas de retard de paiement des intérêts de retard égaux à 1,5 fois le taux d’intérêt légal seront appliqués de plein droit et sans mise en demeure préalable.
      </p>
      <h3>CLAUSES LIMITATIVES DE RESPONSABILITÉS</h3>
      <p>
        La société Men In Black Suit ne peut être tenue responsable des retards dus à des circonstances indépendantes de sa volonté (routes barrées, déviations, embouteillages, conditions météorologiques, manifestations, immobilisation du véhicule pour différentes raisons etc…), ou en d’autre cas de force majeure. Les bagages ou tout autre objet appartenant au client sont sous son entière responsabilité. <br>
        La société reconnaît l’obligation de prendre les mesures nécessaires à la préservation de la sécurité des occupants du véhicule et se réserve le droit de refuser toute personne qui compromettrait la sécurité et la bonne conservation du véhicule. <br>
        Le transport d’animaux (sauf chien guide) est autorisé moyennant supplément. <br>
        La société Men In Black Suit ne sera tenue comme responsable de la perte ou de l’égarement de tout objet, quel qu’il soit, qui serait resté dans son véhicule une fois la prestation terminée et de ce fait se dégage de toutes responsabilités. <br>
        Il en va de soi que tout objet oublié et bien présent dans le véhicule vous sera restitué dans les plus brefs délais.
      </p>
      <h3>ASSURANCE</h3>
      <p>
        La responsabilité de la société Men In Black Suit est limitée aux clauses de son contrat d’assurance, son assurance professionnelle «souscrite pour le transport de voyageurs à titre onéreux» qui couvre de façon illimitée les passagers transportés à titre onéreux à bord du véhicule en cas d’accident avec dommage corporel, conformément à la réglementation française en vigueur : article L3120.4 du code des transports et en application de l’arrêté du 18 avril 1966 relatif aux conditions de l’exercice de la profession de Véhicule de Transport avec Chauffeur (VTC) ou capacitaire.
      </p>
      <h3>DONNÉES PERSONNELLES</h3>
      <p>
        La société  s’engage à respecter la vie privée de ces clients, les informations collectées auprès de ceux-ci ne seront en aucun cas transmises à des tierces personnes.
      </p>
      <h3>SÉCURITÉ</h3>
      <p>
        Le véhicule et le chauffeur seront munis de tous les documents nécessaires pour le bon déroulement de la prestation. Le nombre de bagages est ouvert dans la limite de la capacité de chargement du véhicule, cependant chaque bagage ne pourra excéder 20 kilos maximum par personne transportée, ces derniers ne devront présenter aucun risque de détérioration pour le véhicule, le non-respect de ses conditions entraînera obligatoirement une surfacturation.
      </p>
      <h3>LITIGES</h3>
      <p>
        Toute réclamation ne sera acceptée que dans un délai de 48 heures après l’exécution de la prestation, une fois ce délai dépassé seul sera compétent le Tribunal de Bourg-en-Bresse 01000.
      </p>
    </div>
    <div class="legales-link-return text-center">
      <%= link_to 'RETOUR', root_path, class:'btn-return' %>
    </div>
  </div>
</div>

