<div class="container container-legales">
  <div class="legales-section">
    <div class="legales-title text-center">
      <h2>CONDITIONS GENERALES DE VENTE</h2>
    </div>
    <div class="legales-content text-justify">

    </div>
    <div class="legales-link-return text-center">
      <%= link_to 'RETOUR', root_path, class:'btn-return' %>
    </div>
  </div>
</div>

