.services-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-container {
  perspective: 900px;
  margin: 5px 5px;
}

.service {
  position: relative;
  width: 300px;
  height: 250px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}

.service-front,
.service-back {
  position: absolute;
  background: white;
  color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 250px;
  border-radius: 8px;
  backface-visibility: hidden;
}

.service-front {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-back {
  display: flex;
  justify-content: center;
  align-items: center;
}


.service-container:hover,
.service{
  transform: rotateY(180deg);
}

.service-back{
  transform: rotateY(180deg);
}
